.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(51, 51, 51);
  padding: 25px 0;
}

.app-title {
  text-align: center;
  margin-bottom: 15px;
}

.app-title > h1 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 2.3rem;
  text-transform: uppercase;
  margin-block-end: 0;
  color: rgb(245, 118, 92);
  /* color: rgb(92, 146, 245); */
  /* color: rgb(76, 201, 117); */
}

.app-title > p {
  margin-block-start: 0;
  font-weight: 300;
  /* color: rgb(177, 177, 177); */
  font-size: 1rem;
}

.header-summary {
  text-align: center;
  width: 80vw;
}

.header-summary > p {
  margin: 0;
}

.summary-title {
  font-size: 2rem;
}

.summary-date {
  font-weight: 300;
  font-size: 0.85rem;
  color: rgb(151, 151, 151);
}

.summary-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

.summary-casetype {
  width: 100%;
}

.case-title {
  font-size: 1.6rem;
  font-weight: 500;
}

.summary-casedata {
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  margin: 5px auto;
}

.summary-data > p {
  margin: 10px 0;
}

.data-title {
  font-weight: 300;
  color: rgb(51, 51, 51);
}

.data-number {
  font-size: 1.5rem;
  font-weight: 400;
  color: inherit;
}
