.app-title > h1 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 2.3rem;
  text-transform: uppercase;
  margin-block-end: 0;
  color: rgb(245, 118, 92);
}

.app-title > p {
  margin-block-start: 0;
  font-weight: 300;
  font-size: 1rem;
}

.header-summary {
  text-align: center;
}

.summary-title {
  font-size: 2rem;
}

.summary-date {
  font-weight: 300;
  font-size: 0.85rem;
  color: rgb(151, 151, 151);
}

.case-title {
  font-size: 1.6rem;
  font-weight: 500;
}

.data-title {
  font-weight: 300;
  color: rgb(51, 51, 51);
}

.data-number {
  font-size: 1.5rem;
  font-weight: 400;
  color: inherit;
}
